{{#ifCond name "===" "Get"}}
    {{> api-route-method}}
{{else}}
    {{#ifCond name "===" "Post"}}
        {{> api-route-method}}
    {{else}}
		<div style="a::before { content: '{{name}}'; }">
			{{#each children}}
				{{> api-route}}
			{{/each}}
		</div>
    {{/ifCond}}
{{/ifCond}}
