/* app.css */

html {
	overflow: hidden;
}
body {
	overflow: hidden;
}

.newPageDialog {
	width: 80px;
	height: 150px;
}

.liveCursor {
	position: absolute;
	
}

.replayedCursor {
	position: absolute;
	/*
	-webkit-transition: left 0.034s linear, top 0.034s linear;
	transition: left 0.034s linear, top 0.034s linear;
	*/
}

.popupMenu {
	padding: 0px 0px 0px 0px;
	background-color: transparent;
}

.popupMenu .popover-title {
	padding: 0px 0px 0px 0px;
	background-color: transparent;
}

.popupMenu .popover-content {
	padding: 0px 0px 0px 0px;
	background-color: transparent;
}

.popupMenu .popover-content > * {
	margin: 0px 0px 0px 0px;
	border-style: none;
}

