/* app.css */

html {
	margin: 0px;
	overflow: hidden;
	height: 100%;
}
body {
	overflow: hidden;
	margin: 0px;
	height: 100%;
}

a {
	font-weight: bold;
}

.newPageDialog {
	width: 80px;
	height: 150px;
}

.liveCursor {
	position: absolute;
	pointer-events: none;
}

.replayedCursor {
	position: absolute;
	pointer-events: none;
	/*
	-webkit-transition: left 0.034s linear, top 0.034s linear;
	transition: left 0.034s linear, top 0.034s linear;
	*/
}
.position-fixed {
	position: fixed;
}

.popupMenu {
	padding: 0px 0px 0px 0px;
	background-color: transparent;
}

.popupMenu .popover-title {
	padding: 0px 0px 0px 0px;
	background-color: transparent;
}

.popupMenu .popover-content {
	padding: 0px 0px 0px 0px;
	background-color: transparent;
}

.popupMenu .popover-content > * {
	margin: 0px 0px 0px 0px;
	border-style: none;
}

.backLink {
	color: red;
}

