<md-toolbar>
    <h1 class="md-toolbar-tools">Configuration</h1>
</md-toolbar>
<md-tabs md-dynamic-height md-border-bottom>
    <md-tab label="Room: {{rsCtrl.page.title}}">
        <md-content flex layout-padding>
            <p>
                Id: <i>{{rsCtrl.page._id}}</i>
            </p>
            <p>
                Creator: <i>{{rsCtrl.page.creator}}</i>
            </p>
            <p>
                Owners:
                <i style="display: block;" ng-repeat="owner in rsCtrl.page.owners">{{owner}}</i>
            </p>
            <p>
                Permissions: {{rsCtrl.page.permissions}}
            </p>
            <p>
                Elements: {{rsCtrl.page.elements.length}}
            </p>
            <p>
                Background: {{rsCtrl.page.background.bType}}
            </p>
            <p>
                Cursor Recordings: {{rsCtrl.page.cursors.length}}
            </p>
        </md-content>
    </md-tab>
    <md-tab label="Global Settings">
        <md-content flex layout-padding>
            <p>
                <a class="pointer" ng-click="rsCtrl.CursorService.CycleDrawMode()">
                    <i class="fa fa-refresh"></i><b>Cursors: {{rsCtrl.CursorService.DrawMode.name}}</b>
                </a>
            </p>
        </md-content>
    </md-tab>
</md-tabs>
