<md-toolbar>
    <h1 class="md-toolbar-tools"><i class="fa fa-cogs pad-right-sm"></i>Configuration</h1>
</md-toolbar>
<md-tabs md-dynamic-height md-border-bottom>
    <md-tab>
        <md-tab-label>
            <i class="fa fa-home"></i> {{rsCtrl.page.title}}
        </md-tab-label>
        <md-tab-body>
            <md-content layout-padding>
                <mz-room-preview preview-room="rsCtrl.editingPage"></mz-room-preview>
                <md-input-container class="md-block">
                    <label>Room Title</label>
                    <input required name="title" ng-model="rsCtrl.editingPage.title" autocomplete="off">
                </md-input-container>
                <md-input-container class="md-block compact">
                    <label>Background</label>
                    <input type="color" ng-model="rsCtrl.editingPage.background.data.color">
                </md-input-container>
                <mz-permission-settings permissions="rsCtrl.editingPage.permissions"></mz-permission-settings>
                <md-chips ng-model="rsCtrl.editingPage.owners"
                          secondary-placeholder="Add admin by User ID.">
                </md-chips>
                <br>
                <md-button class="md-raised md-warn"
                           ng-click="rsCtrl.ApplyRoomChanges()"
                           ng-disabled="rsCtrl.pendingResponse">
                    <span ng-show="!rsCtrl.pendingResponse">Apply Changes <i class="fa fa-check"></i></span>
                    <span ng-show="rsCtrl.pendingResponse">Applying Changes</span>
                </md-button>
            </md-content>
        </md-tab-body>
    </md-tab>
    <md-tab>
        <md-tab-label>
            <i class="fa fa-globe"></i> Global
        </md-tab-label>
        <md-tab-body>
            <md-content flex layout-padding>
                <p>
                    <md-button class="md-raised md-primary"
                               ng-click="rsCtrl.CursorService.CycleDrawMode()">
                        <i class="fa fa-refresh"></i> <b>Cursors: {{rsCtrl.CursorService.DrawMode.name}}</b>
                    </md-button>
                </p>
            </md-content>
        </md-tab-body>
    </md-tab>
</md-tabs>
