.structure.tunnel {
    z-index: 2; /* text = 1; tunnel = 2; */
    text-decoration: underline;
    cursor: pointer;
}
.tunnel-font {
    color: black;
    font-family: Lucida Console, Courier, monospace;
    font-size: 14px;
}

/* Edit Mode */
.tunnel-edit {}
.tunnel-edit-top-text {
    color: rgba(0,0,0,0.9);
    font-size: small;
    font-family: "Gill Sans", sans-serif;
    position: absolute;
    transform: translateY(-100%);
    white-space: nowrap;
}
.input-underline {
    display: block;
    border: none;
    color: #00000000;
    height: 1px;
    background: linear-gradient(to right, rgba(0,0,0,0.3) 0%, rgba(0,0,0,0.3) 85%, transparent 100%);

}
.input-text-width-tester {
    position: absolute;
    visibility: hidden;
    height: auto;
    width: auto;
    white-space: nowrap;
}
input {
    border:none;
    background-image:none;
    background-color:transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
textarea:focus, input:focus {
    outline: none;
}