<div class="dropdown position-fixed" id="rootContextMenu">
	<ul class="dropdown-menu buildmenu" role="menu" ng-if="state=='root'">
		<span class="glyphicon glyphicon-map-marker buildmenu-corner"></span>
		<li>
			<a class="pointer" role="menuitem" tabindex="1"
				ng-click="newRoomSelected()">
				<span class="glyphicon glyphicon-edit"></span> <b>Tunnel Room</b> <span class="glyphicon glyphicon-chevron-right rightarrow"></span>
			</a>
		</li>
		<li>
			<a class="pointer" role="menuitem" tabindex="2"
			ng-click="newImageSelected()">
				<span class="glyphicon glyphicon-camera"></span> <b>Insert Image</b>
			</a>
		</li>
		<li>
			<a class="pointer" role="menuitem" tabindex="3">
				<span class="glyphicon glyphicon-cog"></span> <b>Page Settings</b>
			</a>
		</li>
		<li>
			<a class="pointer" role="menuitem" tabindex="4">
				<span class="glyphicon glyphicon-lock"></span> <b>Edit Permissions</b>
			</a>
		</li>
		<hr>
		<li>
			<a href="https://github.com/Fresh4Less/mazenet"
				target="_blank"
				role="menuitem"
				tabindex="-1"
				ng-click="closeContextMenu()">
				<b>Mazenet on GitHub</b> <span class="glyphicon glyphicon-share-alt"></span>
			</a>
		</li>
	</ul>
	<ul class="dropdown-menu buildmenu" role="menu" ng-if="state=='newRoom'">
		<span class="glyphicon glyphicon-map-marker buildmenu-corner"></span>
		<li>
			<a class="pointer" role="menuitem" tabindex="1"
				ng-click="backToRoot()">
				<span class="glyphicon glyphicon-chevron-left"></span> <b>Back</b> <b><span class="glyphicon glyphicon-edit rightarrow"></span></b>
			</a>
		</li>
		<hr class="smallhr">
		<li class="buildmenuitem">
			<div class="pageoptionsheader">Room Details:</div>
			<div class="input-group input-group-sm inputoption">
				<span class="input-group-addon">Name</span>
				<input class="form-control" role="menuitem"type="text" ng-model="newLink.data.text"/>
			</div>
			<!-- 
			<div class="input-group input-group-sm inputoption">
				<span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span>?</span>
				<input class="form-control" role="menuitem" type="text" placeholder="user-1 , user-2 , ..."/>
				<span class="input-group-addon">
					<input type="checkbox"/>
				</span>
			</div>
			-->
		</li>
		<hr class="smallhr">
		<li>
			<a class="pointer pageoptionssubmit" role="menuitem" tabindex="-1" closemenu ng-click="createPage()">
				<span class="glyphicon glyphicon-edit"></span> <b>Tunnel Room</b>
			</a>
		</li>
		
	</ul>
</div>