<div class="dropdown position-fixed" id="rootContextMenu">
	<ul class="dropdown-menu buildmenu" role="menu" ng-if="state=='root'">
		<span class="glyphicon glyphicon-map-marker buildmenu-corner"></span>
		<li>
			<a class="pointer" role="menuitem" tabindex="1"
				ng-click="newRoomSelected()">
				<span class="glyphicon glyphicon-edit"></span> <b>Tunnel Room</b> <span class="glyphicon glyphicon-chevron-right rightarrow"></span>
			</a>
		</li>
		<li>
			<a class="pointer" role="menuitem" tabindex="2"
				ng-click="pageSettingsSelected()">
				<span class="glyphicon glyphicon-cog"></span> <b>Page Settings</b> <span class="glyphicon glyphicon-chevron-right rightarrow"></span>
			</a>
		</li>
		<li>
			<a class="pointer" role="menuitem" tabindex="3"
			ng-click="newImageSelected()">
				<span class="glyphicon glyphicon-camera"></span> <b>Insert Image</b>
			</a>
		</li>
		<hr>
		<div class="buildmenu-footer">
			<a href="https://github.com/Fresh4Less/mazenet"
				target="_blank"
				role="menuitem"
				tabindex="-1"
				ng-click="closeContextMenu()">
			<b>Mazenet on GitHub</b> <span class="glyphicon glyphicon-share-alt"></span>
		</a>
		</div>
	</ul>
	<!-- NEW ROOM -->
	<ul class="dropdown-menu buildmenu" role="menu" ng-if="state=='newRoom'">
		<span class="glyphicon glyphicon-map-marker buildmenu-corner"></span>
		<li>
			<a class="pointer" role="menuitem" tabindex="1"
				ng-click="backToRoot()">
				<span class="glyphicon glyphicon-chevron-left"></span> <b>Back</b> <b><span class="glyphicon glyphicon-edit rightarrow"></span></b>
			</a>
		</li>
		<hr class="smallhr">
		<li class="buildmenuitem">
			<div class="pageoptionsheader">Room Details:</div>
			<div class="input-group input-group-sm inputoption">
				<span class="input-group-addon">Title</span>
				<input class="form-control" role="menuitem"type="text" ng-model="newLink.data.text"/>
			</div>
		</li>
		<hr class="smallhr">
		<li>
			<a class="pointer pageoptionssubmit" role="menuitem" tabindex="-1" closemenu ng-click="createPage()">
				<span class="glyphicon glyphicon-edit"></span> <b>Tunnel Room</b>
			</a>
		</li>
		
	</ul>
	<!-- PAGE SETTINGS -->
	<ul class="dropdown-menu buildmenu" role="menu" ng-if="state=='pageSettings'">
		<span class="glyphicon glyphicon-map-marker buildmenu-corner"></span>
		<li>
			<a class="pointer" role="menuitem" tabindex="1"
				ng-click="backToRoot()">
				<span class="glyphicon glyphicon-chevron-left"></span> <b>Back</b> <b><span class="glyphicon glyphicon-edit rightarrow"></span></b>
			</a>
		</li>
		<hr class="smallhr">
		<li class="buildmenuitem">
			<div class="pageoptionsheader">Title:</div>
			<div class="input-group input-group-sm inputoption">
				<span class="input-group-addon">Title</span>
				<input class="form-control" role="menuitem"type="text" ng-model="pageSettings.title"/>
			</div>
			<div class="pageoptionsheader">Background:</div>
			<div class="input-group input-group-sm inputoption">
				<span class="input-group-addon">Color</span>
				<input class="form-control" role="menuitem"type="text" ng-model="pageSettings.background.data.color"/>
			</div>
			<div class="pageoptionsheader">Permissions:</div>
			<div class="input-group input-group-sm inputoption">
				<span class="input-group-addon">Permissions</span>
				<input class="form-control" role="menuitem"type="text" ng-model="pageSettings.permissions"/>
			</div>
		</li>
		<hr class="smallhr">
		<li>
			<a class="pointer pageoptionssubmit" role="menuitem" tabindex="-1" closemenu ng-click="updatePage()">
				<span class="glyphicon glyphicon-cog"></span> <b>Apply Settings</b>
			</a>
		</li>
		
	</ul>
</div>