#TheControlPanel {
  @include mz-ease-out(height, 200ms);
  position: absolute;
  width:100%;
  z-index: 10;

  .control-panel-content {
    background: $mz-gray-highlight;
    color: $mz-light-text;
    border-bottom:4px solid $mz-gray;
    //position:absolute;
    //bottom: 0;

  }
  .content-closed {
  }
  .content-open {
  }
  .content-fully-open {
    height: 100%;
  }
}