.preview-window {
  border: 1px solid gray;
  height: 20em;
  a {
    font-size: 10px;
    color: #2B4A6F;
  }
  a:hover {
    cursor:pointer;
  }
  .minature-toolbar {
    line-height: 3.5em;
    font-size: 12px;
    flex-direction: row;
    min-height: 4em;
  }
  .preview-body {
    position:relative;
    width:100%;
    height:100%;
  }
}