<section id="TheWelcomeMenu">
    <div class="welcome-text">
        <h2>You are about to enter The Mazenet</h2>
        <h3>A social web spelunker</h3>
        <p>
            Mazenet is future of internet exploration. Insert links and blah blah blah...
        </p>
        <button class="btn btn-primary" ng-if="!wmCtrl.SocketService.InitialLoadComplete">Loading...</button>
        <button class="btn btn-primary" ng-click="wmCtrl.EnterMazenet()" ng-if="wmCtrl.SocketService.InitialLoadComplete">Enter The Mazenet</button>
    </div>
</section>