<section id='TheControlMenu' >
   <md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left">
      <mz-room-settings-menu></mz-room-settings-menu>
   </md-sidenav>

   <md-toolbar>
      <div class="md-toolbar-tools">
         <md-button class="md-icon-button" aria-label="Page Settings" ng-click="cmCtrl.RoomInfoClick()">
            <i class="fa fa-question-circle"></i>
         </md-button>
         <h2>
            <span>{{cmCtrl.page.title}}</span>
         </h2>
         <span flex></span>
         <div ng-show="!cmCtrl.ClickNetService.AwaitingClick">
            <md-button class="md-icon-button" aria-label="New Room" ng-click="cmCtrl.TunnelRoomClick()">
               <i class="fa fa-plus-square"></i>
            </md-button>
            <md-button class="md-icon-button" aria-label="New Element" ng-click="cmCtrl.RoomSettingsClick()">
               <i class="fa fa-cogs"></i>
            </md-button>
         </div>
         <div ng-show="cmCtrl.ClickNetService.AwaitingClick">
            <md-button class="md-raised md-accent" aria-label="New Room" ng-click="cmCtrl.ClickNetService.CancelClick()">
               Cancel
            </md-button>
         </div>

      </div>
   </md-toolbar>

   <!-- Transcludes in the rest of Mazenet -->
   <ng-transclude></ng-transclude>

   <md-sidenav class="md-sidenav-right md-whiteframe-z2" md-component-id="right">
      <!--<mz-welcome-menu ng-if="cmCtrl.MenuService.MenuState == 'naw'"></mz-welcome-menu>-->
      <mz-new-element-menu ng-if="cmCtrl.ActiveMenu == 'newElement'"></mz-new-element-menu>
   </md-sidenav>
</section>
