<section id="NewRoomMenu">
    <md-content layout="column" layout-padding>
        <form name="newRoomForm" ng-submit="nrCtrl.SelectPositionToTunnel()">
            <md-input-container class="md-block">
                <label>Link Text</label>
                <input required name="linkText" ng-model="nrCtrl.pageLinkText" ng-change="nrCtrl.validateLinkText()" autocomplete="off">
                <div ng-messages="newRoomForm.linkText.$error">
                    <div ng-show="newRoomForm.linkText.$error.required" ng-message="required">This is required.</div>
                    <div ng-show="newRoomForm.linkText.$error.duplicateLink" ng-message="duplicateLink">Link text cannot already exist on current page.</div>
                </div>
            </md-input-container>
            <h4>Permissions (Optional)</h4>
            <mz-permission-settings permissions="nrCtrl.pageToMake.permissions"></mz-permission-settings>
            <h4>Administrators (Optional)</h4>
            <md-chips ng-model="nrCtrl.pageToMake.owners"
                      secondary-placeholder="Enter additional User IDs">
            </md-chips>
            <br>
            <md-button class="md-raised md-accent" type="submit" ng-disabled="!nrCtrl.formFilled">Selection Position And Create <i class="fa fa-crosshairs"></i></md-button>

        </form>
    </md-content>
</section>